.App {
  text-align: center;
}

html {
  height: 100%;
  z-index: -10;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





/* Global CSS */
.Content-Container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: gainsboro;
  height: calc(100vh - 8rem);
  width: 100wh;
  margin: 5rem 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
}

.Table-Container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  gap: 1rem;
}

.Filter-Container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-width: 18.5rem;
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

.Table-Custom{
  width: 100%;
  border: none;
}

.Table-Custom th {
  text-align: center;
  font-size: 0.75rem;
  border: none;
  border-radius: 0.5rem;
}

.Table-Custom tr {
  text-align: center;
  font-size: 0.75rem;
}

.Filter-Item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid gainsboro 1px;
  text-align: center;
  padding: 1rem;
  gap: 0.5rem;
}

.Location-Container input {
  width: 100%
}